.sidebar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 800px;
  left: 0px;
  top: 0px;
  color: #000000;
  padding: 50px;
  background: #ebebeb;
  .home-link {
    display: block;
    margin-right: 50px;
    color: #000000;
    h4{
      display: flex;
      gap:15px;
    
    }
  }
  
  .library-link {
    display: block;
    h4{
      display: flex;
      gap:15px;
    
    }
  } 
  .playlist-link {
    display: block;
    margin-right: 50px;
    h4{
      display: flex;
      gap:15px;
    }
  }
  
  .logo {
    width: 173px;
    height: 70px;
    left: 49px;
    top: 22px;
  }
}
