.register-form {
  width: 100%;
  //  overflow-y: auto;
   display: flex;
   height: 800px;

  img {
    width: 50%;
  }

  .custom-button {
    min-width: 380px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #3665c5;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 20px 50px 50px 0;

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
  .register {
    width: 50%;
    margin-left: 200px;
    margin-top: 120px;
  }
  .container {
    display: flex;
    font-size: 12px;
    .navigate-login {
      display: flex;
      width: 31px;
      height: 15px;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      margin-left: 5px;
      line-height: 15px;
      text-align: right;
      color: #3665c5;
    }
  }
}

@media screen and(max-width: 667px){
  .register-form {
    display: block;
    width: 100%;
    position: fixed;
  img {
    width: 110%;
    height: 200px;
  }
  
  .custom-button{
    // margin-left: -10px;
    min-width: 350px;
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
  .span{
    white-space: nowrap;
    margin-left: -150px;
  }
  .register{
    margin-top: -10px;
    h4{
      margin-left: -150px;
    }
  }
  
}
}
@media screen and(max-width: 667px){
  .register-form{
  .custom-button{
    margin-left: -170px;
    min-width: 333px;
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
  .span{
    white-space: nowrap;
    margin-left: -150px;
  }
  .register{
    margin-top: -10px;
    h4{
      margin-left: -170px;
    }
    span{
      white-space: nowrap;
      margin-left: -170px;
      margin-top: -30px;
    }
  }
}
}
@media screen and(max-width: 320px) {
  .register-form{
    img {
      width: 190%;
      height: 250px;
    }
    .input-field .input input {
      width: 140vw;
      margin-left: -180px;
    }
  .custom-button{
    margin-left: -180px;
    min-width: 270px;
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
  .span{
    white-space: nowrap;
    margin-left: -180px;
  }
  .register{
    margin-top: -10px;
    h4{
      margin-left: -180px;
    }
    span{
      white-space: nowrap;
      margin-left: -180px;
      margin-top: -30px;
    }
  }
}
}
@media screen and (max-width: 360px){
  .register-form{
    // position:fixed;
    img {
      width: 100%;
      height: 150px;
      
    }
    // .input-field .input input {
    //   width: 70vw;
    //   margin-left: -170px;
    // }
  .custom-button{
    margin-left: -170px;
    min-width: 290px;
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .register-form {
    display: block;
      img {
        width: 110%;
        height: 250px;
        
      }
      // .input-field .input input {
      //   width: 70vw;
      //   margin-left: -100px;
      // }
    .custom-button{
      margin-left: -100px;
      min-width: 76vw;
      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
    .span{
      white-space: nowrap;
      margin-left: 150px;
    }
    .register{
      margin-top: -10px;
      h4{
        margin-left: -100px;
      }
      span{
        white-space: nowrap;
        margin-left: -100px;
        margin-top: -30px;
      }
    }
  }
}